In [1]:
# basic
import time
import random
import os
import re
import warnings
warnings.filterwarnings('ignore')

# data analytics
import numpy as np
import pandas as pd

# web crawling
import json
import requests
from bs4 import BeautifulSoup
from selenium import webdriver

# scrapy
#import scrapy
#from scrapy.http import TextResponse # xpath 연습

# database
#import pymongo

# visulazation
#from pyvirtualdisplay import Display
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

# chatbot
#from flask import *
#import konlpy
#from konlpy.tag import *

In [136]:
# matplotlib 한글 사용을 위한 코드
from matplotlib import rc
rc('font', family='AppleGothic')
mpl.rc('font', family='Hancom Gothic')
mpl.rc('axes', unicode_minus=False)

In [2]:
url = 'https://m.toomics.com/webtoon/top100/type/monthly'

In [3]:
# selenium
from selenium import webdriver
driver = webdriver.Chrome()
driver.get(url)

#### Test

In [7]:
top100 = driver.find_elements_by_css_selector('#contents > div:nth-child(4) > ul > li')

In [13]:
# title
top100[0].find_element_by_css_selector('a > div > div > strong').text

'철보: [빌런]'

In [14]:
# order
top100[0].find_element_by_css_selector('a > div > span > span').text

'1위'

In [20]:
# count_episode & genre
epi_genre = top100[0].find_element_by_css_selector('a > div.toon__caption > span > span').text

In [24]:
# split count_episode
epi_genre.split("·")[0].replace(" ", "")

'95화'

In [25]:
# splite genre
epi_genre.split("·")[1].replace(" ", "")

'학원/액션'

In [27]:
# crawling top100
titles = []
epi_genre_list = []
rank = []
for i in range(len(top100)):
    title = top100[i].find_element_by_css_selector('a > div > div > strong').text
    epi_genre = top100[i].find_element_by_css_selector('a > div.toon__caption > span > span').text
    rank = i
    
    titles.append(title)
    epi_genre_list.append(epi_genre)
    rank.append(i)

In [29]:
len(titles), len(epi_genre_list), len(rank)

(100, 100)

In [30]:
# list to dict
Toomics_Top100_monthly = {
    'rank' : rank,
    'title' : titles,
    'epi_genre_list' : epi_genre_list
}

In [ ]:
driver.quit()

In [110]:
#Toomics_Top100_monthly

In [33]:
df_Toomics_Top100_monthly = pd.DataFrame(Toomics_Top100_monthly)
df_Toomics_Top100_monthly

        title epi_genre_list
0    철보: [빌런]    95화 · 학원/액션
1      소년의 신성   142화 · 학원/액션
2   로스타임 인 유럽     184화 · 스포츠
3        고교정점   259화 · 학원/액션
4        고교전설   197화 · 학원/액션
..        ...            ...
95       사내자식      38화 · 드라마
96   엉덩국 만화공장       70화 · 개그
97        기인록   157화 · 학원/액션
98       다이다이    33화 · 학원/액션
99   블러드 블레이드      36화 · 판타지

[100 rows x 2 columns]

In [35]:
# separate columns
df_Toomics_Top100_monthly['count_episode'] = ''
df_Toomics_Top100_monthly['genre'] = ''

for i in range(len(df_Toomics_Top100_monthly)):
    df_Toomics_Top100_monthly['count_episode'][i] = df_Toomics_Top100_monthly['epi_genre_list'][i].split("·")[0].replace(" ", "")
    df_Toomics_Top100_monthly['genre'][i] = df_Toomics_Top100_monthly['epi_genre_list'][i].split("·")[1].replace(" ", "")

In [37]:
df_Toomics100 = df_Toomics_Top100_monthly[['title', 'count_episode', 'genre']]

In [43]:
df_Toomics100.to_csv("./df_Toomics100.csv", index = False)